body {
  margin: 0;
  padding: 0;
  font-family: "Fjalla One", sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Console */
#console {
  position: relative;
  width: 250px;
  height: 550px;
  margin: 12px;
  padding: 10px 10px;
  background-color: #fed9a6;
  border-style: solid;
  border-width: 400px black;
  overflow-y: scroll;
}

/*Text Options*/
h1 {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #821eb2;
  font-family: Fjalla One, sans serif;
  background-color: #b3cde3;
  border-style: solid;
  border-height: 50px;
  border-color: black 5px;
}

h2 {
  border-top: 18px;
  line-height:30px;
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  font-size: 15px;
  font-family: 'Signika Negative', sans-serif;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 14px;
  font-family: 'Signika Negative', sans-serif;
  margin-left: 5%;
}

p2 {
  font-size: 15px;
  font-family: 'Signika Negative', sans-serif;
}

a {
  text-decoration: underline;
  text-decoration-color:#e5c494;
  color: #652c0b;
}

/* Popup */
.my-popup .mapboxgl-popup-content {
  width: 200px;
  background: #fc8d62;
  border-style: solid;
  border-height: 10px #fc8d62;
  padding: 20px;
  color: #171a81;
  position: relative;
  overflow-y: scroll;
  max-height: 200px;
  margin-top: 10px
}

/*Filter by Rating*/
.session {
  align-items: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: -30px;
}

/*Filter by Type*/
.row {
  height: 30px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
  margin-top: 10px;
}

/* Directory - separated by Type*/
.Af {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory1 {
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 100px;
  margin-top: 10px;
}
.box2 {
  background-color: #b3e2cd;
  opacity: 0.5;
  text-color: black;
}

.As {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory2 {
  height: 160px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 100px;
  margin-top: 10px;
}
.box1 {
  background-color: #decbe4;
  opacity: 0.5;
  text-color: black;
}

.EE {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory3 {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.box3 {
  background-color: #fffc88;
  opacity: 0.5;
  text-color: black;
}

.Mex {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory4 {
  height: 10px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.box5 {
  background-color: #fbb139;
  opacity: 0.5;
  text-color: black;
}

.ME {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory5 {
  height: 30px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 5px;
}
.box4 {
  background-color: #f88;
  opacity: 0.5;
  text-color: black;
}

.SA {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory6 {
  height: 80px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.box6 {
  background-color: #7fe8ff;
  opacity: 0.5;
  text-color: black;
}

.NA {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-style: solid;
  border-color: black 3px;
}
.directory7 {
  height:100px;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.box7 {
  background-color: #ebf6e1;
  opacity: 0.5;
  text-color: black;
}

/*Collapsible Buttons*/
.collapse1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  margin-left: 70px;
  background-color: #b3e2cd;
  margin-bottom: 0px;
}
  
.collapse2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  margin-left: 35px;
  margin-top: 0px;
  background-color: #b3e2cd;
  align-items: center}

.collapse3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  margin-left: 50px;
  background-color: #b3e2cd;
  text-align: center;
  align-items:center;
  margin-top: 30px }






